
body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background: transparent;
  line-height: 24px;
  font-weight: 400;
  color: #77798a;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  text-decoration: underline;
  border: none;
  outline: 0;
  color: #333;
  font-family: 'Poppins', sans-serif;
}
a:hover,
a:focus,
a:active,
button:focus {
  text-decoration: none;
  border: none;
  outline: 0;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  color: #373b55;
  padding: 0;
  margin: 0;
}
h1,h2 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
  color: #373b55;
}
h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #373b55;
}
h4,
h5,
h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.section-padding {
  padding: 120px 0px;
}

.section-title p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #77798a;
  max-width: 650px;
  margin: 0 auto;
}
.section-title-left {
  text-align: left;
}
.s-table {
  height: 100%;
  width: 100%;
  display: table;
}
.s-tablec {
  display: table-cell;
  vertical-align: middle;
}
.wh-btn {
  display: inline-block;
  background: #423bc9;
  border: 3px solid #f77e53;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  font-size: 14px;
  padding: 13px 38px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: 'Poppins', sans-serif;
  border-radius: 30px;
}
.wh-btn:hover {
  background: #ff1948;
  color: #fff;
  border: 3px solid #f77e53;
}
.wh-btn:active,
.wh-btn:focus {
  color: #fff;
  background: #233cd7;
  border: 3px solid #f77e53;
}
.plr-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.pb-0 {
  padding-bottom: 0px;
}
.pl-0 {
  padding-left: 0px;
}
.pr-0 {
  margin-right: 0px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-60 {
  margin-bottom: 0px;
}
.mlr-0 {
  margin-right: 0;
  margin-left: 0;
}
.mb-65 {
  margin-bottom: 0px;
}
.fls:before {
  margin: 0;
  font-size: 0px;
  line-height: 0px;
  display: inline-block;
  color: #fff;
}
.flm:before {
  margin: 0;
  font-size: 0px;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
 html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
	display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

/* Box sizing
--------------------------------------------- */

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Elements
--------------------------------------------- */
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* Links
--------------------------------------------- */
a {
	color: #4169e1;
}

a:visited {
	color: #800080;
}

a:hover,
a:focus,
a:active {
	color: #191970;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	color: #333;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	color:#000;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Small menu. */

.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}


/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

.widget select {
	max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

/* Page css */
.page-warp {
	word-wrap: anywhere;
}

/* Footer Css */
/* .site-footer a, .site-footer span, .site-info {
	color: #fff;
} */
.footer-copy-right a, .footer-copy-right span, .site-info {
	color: #fff;
}
/* Archive Css */
.archive-header {
	box-shadow: 0px 0px 30px 0px rgba(183, 163, 247, 0.2);
	padding: 5em 6.67em 3.33333em;
	margin-bottom: 30px;
}
/* Search area */
.search-header {
	box-shadow: 0px 0px 30px 0px rgba(183, 163, 247, 0.2);
	padding: 5em 6.67em 3.33333em;
	margin-bottom: 30px;
}
/* 404 Css */
.error-404.not-found {
	text-align: center;
}
.error-404.not-found h1 {
	font-size: 36px;
	line-height: 46px;
	font-weight: 600;
}
.error-404.not-found p{
	font-size: 20px;
	line-height: 30px;
	font-weight: 600;
}
/* Sidebar Css */
.widget-area {
	margin-top: 30px;
}
.widget {
	margin: 0 0 1.5em;
	box-shadow: 0px 0px 30px 0px rgba(183, 163, 247, 0.2);
	padding: 25px;
}
.widget-title {
	border-left: 4px solid #ff1948;
	padding-left: 15px;
	margin-bottom: 20px;
	font-size: 28px;
}
.widget_recent_entries li a {
	border-bottom: 1px solid #f4f3f1;
	padding: 10px 0px;
    transition: .3s;
    color: #77798a;
}
.widget_recent_entries li a:hover{
   color: #233cd7;
}
.widget.widget_recent_entries li {
   margin-bottom: 25px;
}
.widget-social-icon li a {
	color: #fff;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	border-radius: 50px;
	-webkit-transition: .3s;
	transition: .3s;
	background: #233CD7;
}
.widget-social-icon li{
  display: inline-block;
  margin-right: 10px;
}
.widget-social-icon li a:hover{
  background-color: #ff1948;
}
.tagcloud a {
  background: #e6e6e6;
  font-size: 14px;
  padding: 10px 19px;
  display: inline-block;
  margin: 5px 1px;
  text-transform: capitalize;
  float: none;
  width: auto;
  transition: .3s;
}
.tagcloud a:hover{
  background-color: #ff1948;
  color: #fff;
}
.categories-list li {
	margin-bottom: 15px;
}
.categories-list li a {
	color: #77798a;
}
.categories-list li a:hover{
  color: #233CD7;
  border-bottom: 1px solid #f4f3f1;
}
.related-tag {
    margin-top: 21px;
  }
  .single-cat {
	margin-top: 20px;
}
/* pagination Css */
.pagination span, .pagination a, .pagination a:hover {
	background: #233CD7;
	padding: 8px 15px;
	margin-right: 13px;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
}
/* Comment Css */
.comments-title {
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 20px;
}
.form-submit input {
	border: none;
	color: #fff;
	background: #FF1948;
	padding: 18px;
	font-weight: 600;
	transition: .3s;
}
.form-submit input:hover {
	background: #233cd7;
	color: #fff;
}
.comment-form-author input, .comment-form-email input, 
.comment-form-url input{
  width: 100%;
	padding: 10px;
}
.comment-author.vcard img {
	width: 6%;
	border-radius: 50%;
	margin-left: 0px;
}
.comment-author.vcard .fn {
	margin-left: 15px;
	font-size: 20px;
}
.comment-author.vcard {
	margin-bottom: 20px;
}
.comments-area .comment-list li.depth-1{
	padding: 25px;
	border-radius: 15px;
	margin-bottom: 20px;
}
.comments-area .comment-list li{
	box-shadow: 0px 0px 30px 0px rgba(183, 163, 247, 0.2);
}

/* ==========================================================================
   Main Manu CSS
   ========================================================================== */
.site-title a {
  font-size: 36px;
  color: #373b55;
  font-weight: 600;
  line-height: 46px;
  display: block;
}
.main-menu {
	background: rgb(255, 255, 255);
	padding: 25px 0px;
	box-shadow: 0px 0px 30px 0px rgba(183, 163, 247, 0.2);
}
.menu-right {
	padding: 9px 0px;
}
.site-header-menu {
	display: none;
}

.site-header-menu.toggled-on,
.no-js .site-header-menu {
	display: block;
}

.main-navigation {
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}


.main-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation li {
	border-top: 1px solid #d1d1d1;
	position: relative;
}

.main-navigation a {
	color:  #373b55;
	display: block;
	line-height: 1.3125;
	font-weight: 600;
	outline-offset: -1px;
	text-decoration: none;
	padding: 0.84375em 0;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #ff1948;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
	font-weight: 700;
}

ul .sub-menu li a {
	color: #000;
}

.main-navigation ul ul {
	display: none;
	margin-left: 0.875em;
}

.no-js .main-navigation ul ul {
	display: block;
}

.main-navigation ul .toggled-on {
	display: block;
}

.main-navigation .primary-menu {
	border-bottom: 1px solid #d1d1d1;
}

.main-navigation .menu-item-has-children > a {
	margin-right: 56px;
}

.dropdown-toggle {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: #1a1a1a;
	content: "";
	height: 48px;
	padding: 0;
	position: absolute;
	right: 0;
	text-transform: none;
	top: 0;
	width: 48px;
}

.dropdown-toggle:after {
	border: 0 solid #d1d1d1;
	border-left-width: 1px;
	content: "\f107";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 24px;
	left: 1px;
	position: relative;
	width: 48px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
	background-color: transparent;
	color: #ff1948;
}

.dropdown-toggle:focus {
	outline: thin dotted;
	outline-offset: -1px;
}

.dropdown-toggle:focus:after {
	border-color: transparent;
}

.dropdown-toggle.toggled-on:after {
	content: "\f107";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transform: rotate(180deg);
}

/* menu */

.menu-toggle {
	background-color: transparent;
	background-color: #ff1948;
	border: none;
	color: #fff;
	font-size: 13px;
	font-size: 0.8125rem;
	margin: 1.076923077em 0;
	padding: 0.769230769em;
}

.no-js .menu-toggle {
	display: none;
}

.menu-toggle:hover, .menu-toggle:focus {
	color: #fff;
	background: #ff1948;
}

.menu-toggle.toggled-on, .menu-toggle.toggled-on:hover, 
.menu-toggle.toggled-on:focus {
	background-color: #ff1948;
	color: #fff;
}

.menu-toggle:focus {
	outline: 0;
}

.menu-toggle.toggled-on:focus {
	outline: thin dotted;
}

/* mobile */

@media screen and (min-width: 56.875em) {


	.site-header-menu {
		display: block;
	}

	.main-navigation {
		margin: 0 -0.875em;
	}

	.main-navigation .primary-menu,
	.main-navigation .primary-menu > li {
		border: 0;
	}

	.main-navigation .primary-menu > li {
		float: left;
	}

	.main-navigation a {
		outline-offset: -8px;
		padding: 0.65625em 0.875em;
		white-space: nowrap;
	}

	.main-navigation li:hover > a,
	.main-navigation li.focus > a {
		color: #ff1948;
	}

	.main-navigation ul ul {
		border-bottom: 1px solid #d1d1d1;
		display: block;
		left: -999em;
		margin: 0;
		position: absolute;
		z-index: 99999;
	}

	.main-navigation ul ul ul {
		top: -1px;
	}

	.main-navigation ul ul ul:before,
	.main-navigation ul ul ul:after {
		border: 0;
	}

	.main-navigation ul ul li {
		background-color: #fff;
		border: 1px solid #d1d1d1;
		border-bottom-width: 0;
	}

	.main-navigation ul ul a {
		white-space: normal;
		width: 12.6875em;
	}

	.main-navigation ul ul:before,
	.main-navigation ul ul:after {
		border-style: solid;
		content: "";
		position: absolute;
	}

	.main-navigation ul ul:before {
		border-color: #d1d1d1 transparent;
		border-width: 0 10px 10px;
		right: 9px;
		top: -9px;
	}

	.main-navigation ul ul:after {
		border-color: #fff transparent;
		border-width: 0 8px 8px;
		right: 11px;
		top: -7px;
	}

	.main-navigation li:hover > ul,
	.main-navigation li.focus > ul {
		left: auto;
		right: 0;
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: auto;
		right: 100%;
	}

	.main-navigation .menu-item-has-children > a {
		margin: 0;
		padding-right: 2.25em;
	}

	.main-navigation .menu-item-has-children > a:after {
		content: "\f107";
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		position: absolute;
		right: 0.625em;
		top: 0.8125em;
	}

	.main-navigation ul ul .menu-item-has-children > a {
		padding-right: 2.0625em;
	}

	.main-navigation ul ul .menu-item-has-children > a:after {
		right: 0.5625em;
		top: 0.875em;
		transform: rotate(90deg);
	}

	.dropdown-toggle,
	.main-navigation ul .dropdown-toggle.toggled-on,
	.menu-toggle {
		display: none;
	}
}

/* ==========================================================================
   Copy right css
   ========================================================================== */
.footer-copy-right {
    text-align: center;
    background: rgb(14, 28, 113);
    padding: 25px 0px;
  }
.copy-right-content h4 {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
.copy-right-content h4 a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: .3s;
  transition: .3s;
}
.copy-right-content h4 a:hover {
  color: #FF1948;
}
/* ==========================================================================
  Single Post CSS
   ========================================================================== */
   .single-post-item img {
    margin-bottom: 30px;
  }
   .single-post-meta ul li {
    display: inline-block;
    margin-right: 15px;
  }
  .single-post-meta {
    margin-bottom: 20px;
  }
  .single-item-content h2 {
    margin-bottom: 20px;
  }
  .single-post-meta li i {
    color: #ff1948;
    margin-right: 5px;
  }
  .single-post-meta li {
    color: #373b55;
  }
  .single-post-meta li a{
    color: #77798a;
  }
  .single-post-box {
    background: #e6e6e6;
    padding: 20px 30px;
    border-left: 3px solid #ff1948;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .single-post-content-img {
    margin-top: 20px;
  }
  .related-tag span {
    display: block;
    font-weight: 500;
    float: left;
    overflow: hidden;
    margin-right: 10px;
    font-size: 20px;
    color: #373b55;
  }
  .related-tag li {
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
  }
  .related-tag li a {
    color: #77798a;
    text-decoration: underline;
  }
  .related-tag li a:hover {
    color: #233CD7;
  }
  .single-cat span {
    display: block;
    font-weight: 500;
    float: left;
    overflow: hidden;
    margin-right: 10px;
    font-size: 20px;
    color: #373b55;
  }
  .single-cat ul li {
    display: inline-block;
    margin-right: 7px;
  }
  .single-cat li a {
    color: #77798a;
  }
  .single-cat a:hover {
    color: #233CD7;
    border-bottom: 1px solid #f4f3f1;
  }

/* ==========================================================================
  Blog List CSS
   ========================================================================== */
  .bloglist-content h2 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 40px;
  }
  .bloglist-content {
    padding: 30px;
  }
  .bloglist-content {
    border: 1px solid #f5f6ff;
    border-top: none;
  }
  .bloglist-content h2 a {
    color: #373b55;
  }
  .bloglist-content > a {
    color: #ff1948;
    font-weight: 600;
    margin-top: 20px;
    display: block;
  }
  .bloglist-content a span {
    margin-left: 8px;
  }
  .bloglist-img img {
    width: 100%;
  }
  .bloglist-meta {
    border: 1px solid #f5f6ff;
    border-top: 0;
    padding: 30px;
  }
  .bloglist-meta li a {
    color: #ff1948;
  }
  .bloglist-meta li i {
    color: #ff1948;
    margin-right: 8px;
  }
  .bloglist-meta li {
    margin-right: 15px;
    font-size: 14px;
    display: inline-block;
  }
  .bloglist-meta li:last-child {
    margin: 0;
  }
  